body{
    align-content: center;
    background-color: whitesmoke;
    padding-left: 50px;
}

div.container{
    width: 950px;
    height: 250px;
    background-color: rgb(236, 233, 233);
    position: relative;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    padding-right: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div.html{
    width: 350px;
    float: left;
    height: 250px;
    background-color: blue;
    text-align: left;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
}

div.js{
    width: 350px;
    float: left;
    height: 250px;
    background-color: blue;
    text-align: left;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidde;
}

div.react{
    width: 350px;
    float: left;
    height: 250px;
    background-color: blue;
    text-align: left;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    text-align: center;
}

div.nd{
    width: 350px;
    float: left;
    height: 250px;
    background-color: blue;
    text-align: left;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    text-align: center;
}

div.reactN{
    width: 350px;
    float: left;
    height: 250px;
    background-color: blue;
    text-align: left;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    text-align: center;
}

div.skills{
    width: 350px;
    float: left;
    height: 250px;
    background-color: blue;
    text-align: left;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    text-align: center;
}

/* .html,.js,.react,.nd,.reactN,.skills{
    width: 250px;
    height: 250px;
    background-color: blue;
    border-radius: 10px 0px 0px 10px;
    text-align: left;
    color: white;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    text-align: center;
    
} */



